/*
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
*/

.css-grid-table,
.css-grid-table-header,
.css-grid-table-body {
    display: grid;
}
/* The number of rows is updated by the js */
.css-grid-table {
    grid-template-rows: auto auto;
    width: 100%;
}
/* Header and body are 3 columns, but the ID column should be hidden */
.css-grid-table-header,
.css-grid-table-body {
    grid-template-columns: 15rem 15rem;
    line-height: 24px;
}
/* Header is one row, with a gap */
.css-grid-table-header {
    grid-column-gap: 2px;
    grid-template-rows: auto;
}
/* Why are there rows for this when there are already rows set on the .css-grid-template */
.css-grid-table-body {
    grid-template-rows: auto auto;
}
/* Styling for the header */
.css-grid-table-header div {
    text-align: center;
    font-weight: bold;
    background-color: rgb(191, 191, 191);
}

/* Hidden Elements */
.hidden {
    display: none;
}