body {
    background-color: #c7ccdb;
}

.card-top {
    background-color: #e1e5ee;
}

.card-body-color {
    /*background-color: ;*/
}

.css-grid-table,
.css-grid-table-header,
.css-grid-table-body {
    display: grid;
}

.css-grid-table {
    grid-template-rows: auto auto;
    width: 80%;
}

.css-grid-table-header,
.css-grid-table-body {
    grid-template-columns: auto auto;
    line-height: 24px;
}

.css-grid-table-header {
    grid-column-gap: 2px;
    grid-template-rows: auto;
}

.css-grid-table-body {
    grid-template-rows: auto auto;
}

.css-grid-table-header div {
    text-align: center;
    font-weight: bold;
    background-color: rgb(191, 191, 191);
}

.hidden {
    display: none;
}